@media (prefers-color-scheme: dark) {
  * {
    color-scheme: dark;
    --section-color: #4a4a4a;
    --track: #0079e8;
    --track-alert: #e83200;
    --track-background: #a1a1a1;
  }
}
@media (prefers-color-scheme: light) {
  * {
    color-scheme: light;
  }
  :root {
    --section-color: #bdbdbd;
    --track: #0079e8;
    --track-background: #3d3d3d;
  }
}


.section {
  background-color: var(--section-color);
  border-radius: .25rem;

  min-width: 9rem;
  min-height: 14rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .7rem;

  text-align: left;
  align-items: center;
  align-content: flex-start;

  display: grid;
  gap: .5rem;
}

.lineGauge {
  display: flex;
  border-radius: 1rem;
  height: .3rem;
  width: 100%;
  background-color: var(--track-background);
}
.lineGaugeTrack {
  border-radius: .3rem;
  height: 100%;
  background-color: var(--track);
  transition: .5s;
}
.alert {
  background-color: var(--track-alert) !important;
}